@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
	font-family: 'Pretendard-Regular';
}

.idpw_form{
	width: 500px;
	height: 370px;
	border: 1px solid #c3cbcb;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 100px auto 0px;
}
.h2{
	text-align: center;
	font-size: 28px;
	color: #606868;
	margin-top: 35px;
}

ul, li{
	list-style: none;
}

.inputBox{
	border: none;
	border-bottom: 1px solid #C3CBCB !important;
	width: 90%;
	font-size: 18px;
	margin-top: 30px;
}
.inputBox:focus{
	outline: none;
}

.select{
	font-size: 18px;
	width: 90%;
	height: 35px;
	margin-top: 30px;
	border: none;
	border-bottom: 1px solid #c3cbcb !important;
}
.select:focus{
	outline: none;
}

.btn_search{
	width: 100px;
	font-size: 18px;
	background-color: #3579C2;
	color: #fff;
	text-align: center;
	line-height: 35px;
	border: none;
	border-radius: 10px;
	margin: 30px 160px 0;
	display: block;
}

.pwResult{
	width: 500px;
	height: 290px;
	border: 1px solid #c3cbcb;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 100px auto 0px;
}
.password{
	text-align: center;
	font-size: 18px;
	width: 100%;
	margin-top: 50px;
}
.searchBtn, .loginBtn{
	display: inline-block;
	width: 130px;
	background-color: #3579C2;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
}
.searchBtn {
	margin: 30px 0px 0px 110px;
}
.loginBtn{
	margin-left: 180px;
}
.searchBtn a, .loginBtn a{
	text-decoration: none;
	color: #fff;
}
.searchBtn:hover, .loginBtn:hover{
	background-color: #053B75;
}

.pwUpdate{
	width: 500px;
	height: 345px;
	border: 1px solid #c3cbcb;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    margin: 100px auto 0px;
}
